<div id='leader_board'> <!-- class='span-2'-->
  <p class='header_text center text-right'>Leader Board</p>
  <%= render 'brackets/scenarios/users/index' %>
</div>
<div class="page-header center force-center">
  <h1>Scenario List</h1>
</div>
<table class="scenarios_ordered center">
  <%= render partial: "brackets/scenarios/scenario", collection: @scenarios %>
</table>