<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Welcome to Alia's Madness, <%= @user.name %></p>

<p>
  To complete your bracket, you must follow *this* link: <%= @url %> and enter this value:
  <%= @r %>
</p>

<p>
<ul>
  <li>The link points to your login page.</li>
  <li>No other link will work to sign you in.</li>
  <li>Enter the password and login.</li>
  <li>Once all brackets are complete, this link will display the list of players, their scores, and how you're doing
    game-by-game.
  </li>
</ul>
</p>
<p>Thanks for joining and good luck!</p>
</body>
</html>
