<div id='leader_board' class='center'>
  <span class='header_text'>Leader Board</span>
  <%= render 'index' %>
</div>
<div id='bracket_display' class='center'>
  <% @bracket = @user.bracket %>
  <%= render :partial => 'brackets/bracket' %>
</div>
