<tr>
  <%= content_tag :td, class: 'player_summary'+bracket_complete_class(user, @user.admin?) do %>
    <%= link_to user_url user.id do %>
      <div id="clickable">
        <%= user.name+' == '+user.current_score.to_s %>
      </div>
    <% end %>
  <% end %>
</tr>
