<div class='span-20'>
  <div class='span-5'>
    <%= render 'index' %>
  </div>
  <div class='span-15'>
    <% @bracket = @user.bracket %>
    <%= render :partial => 'brackets/bracket' %>
  </div>
</div>
