<div id='leader_board'> <!-- class='span-2'-->
  <p class='header_text center text-right'>Leader Board</p>
  <%= render 'index' %>
</div>
<div id='bracket_display'> <!-- class='span-13' -->
  <% if @user.admin? or team_names_locked? %>
    <% @bracket = @user.bracket %>
    <%= render :partial => 'brackets/bracket' %>
  <% else %>
    <h2 class="center">Coming Soon!</h2> <!-- Coming Soon! -->
  <% end %>
</div>
