<div id="chats-received-container">
  <label for="chats-received">Rec'd</label>
  <div id="chats-received">
    <%= render partial: 'heckles/heckle', collection: heckles, as: :heckle %>
    <div id="chat-anchor"></div>
  </div>
</div>
