<div id="chat-to-send-container">
  <div id="chat-send">
    <label for="chat-send">Send</label>
    <div id="chat-text" contenteditable="true" data-uid="<%= user.id %>"
         data-chat-name-lookup="<%= chat_names_as_json %>">
    </div>
  </div>
</div>