#chats-received-container
  -# %label{for: "chats-received"}
  -#   Rec'd
  -#   #chats-received{contenteditable: "false"}
  -#     = render partial: 'heckles/heckle', collection: heckles, as: :heckle
  -#     #chat-anchor
