<div id="chats-received-container" style="position:relative; margin: 10px;">
  <label for="chats-received">Rec'd</label>
  <div id="chats-received" style="position:relative; border: 1px solid #000; margin: 2px; overflow: auto; z-index: auto">
    <%= render heckles %>
  </div>
</div>
