<div id="chat-to-send-container" style="position:relative; margin: 10px;">
  <div id="chat-send" style="position:relative; z-index: auto;">
    <label for="chat-send">Send</label>
    <textarea id="chat-text" style="position:relative; z-index: auto;"></textarea>
  </div>
</div>