.chat-header
{
  position:absolute;
}

#chat-header-anchor
{
  position:relative;
  text-align:center;
}

#chats-received-anchor
{
  position:absolute;
}

#chats-received-container
{
  position:relative;
  margin:10px;
}

#chats-received
{
  position:relative;
  border:1px solid #000;
  margin:2px;
  overflow:auto;
  z-index:auto;
}

#chats-received *
{
  overflow-anchor:none;
}

#chat-anchor
{
  overflow-anchor:auto;
  height:1px;
}

#chat-sending-anchor
{
  position:absolute;
}

.from-me-in-chat
{
  background-color: #CCE6FF;
}

#chat-to-send-container
{
  position:relative;
  margin:10px;
}

#chat-send
{
  position:relative;
  z-index:auto;
}

#chat-text
{
  position:relative;
  z-index:auto;
  border:1px solid #000;
  margin:2px;
  overflow:auto;
}