.chat-header
{
  position:absolute;
}

#chat-header-anchor
{
  position:relative;
  text-align:center;
}

#chats-received-anchor
{
  position:absolute;
}

#chats-received-container
{
  position:relative;
  margin:10px;
}

#chats-received
{
  position:relative;
  border:1px solid #000;
  margin:2px;
  overflow:auto;
  z-index:auto;
}

#chats-received *
{
  overflow-anchor:none;
}

#chat-anchor
{
  overflow-anchor:auto;
  height:1px;
}

#chat-sending-anchor
{
  position:absolute;
}

.from-me-in-chat
{
  background-color: #CCE6FF;
}

#chat-to-send-container
{
  position:relative;
  margin:10px;
}

#chat-send
{
  position:relative;
  z-index:auto;
}

#chat-text
{
  position:relative;
  z-index:auto;
  border:1px solid #000;
  margin:2px;
  overflow:auto;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  /* background-color: #e9e9e9; */
  background-color: #e9e9e9 !important;
}