nav {
  background-color:#222222;
}
.nav-list
{
  list-style-type:none;
    height: 40px;
}
.nav-list-item
{
  display:inline;
  float:left;
    width: 200px;
    height: 40px;
}
.nav-list-button {
  display:block;
    width: 200px;
    height: 40px;
  text-align:center;
  padding:10px;
}
.nav-list-button:link,.nav-list-button:visited
{
  color:#afafaf;
  text-decoration:none;
  text-transform:uppercase;
    height: 40px;
}

.nav-list-button:hover,.nav-list-button:active
{
  color: #eeee00;
  background-color:#444444;
    height: 40px;
}

.nav-list-item.last {
  right: 0;
  left: auto;
}
